<div class="container my-5 px-sm-1">
  <div class="row align-middle">
    <div class="col-md-8 offset-md-2 text-center my-5">
      <h3 class="my-3 font-weight-bold">本当に退会しますか？</h3>
      <p class="font-weight-bold">
        退会すると、会員登録情報や<br>
        これまでのレビューが閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </p>
      <div class="text-center mt-4">
        <%= link_to "退会しない", customer_path(current_customer), class: "btn btn-primary px-3 mr-3" %>
        <%= link_to "退会する", withdrawal_path, method: :patch, class: "btn btn-danger px-4", data: { confirm: "本当に退会しますか？" } %>
      </div>
    </div>
  </div>
</div>
