<div class="container px-sm-0">
  <div class="row px-1 py-4 ml-md-3">
    <div class="col-md-3 py-3">
      <h3>登録情報</h3>
      <%= render 'info', customer: current_customer %>
    </div>
    <div class="col-md-8 offset-md-1 p-3">
      <h3>読書家一覧</h3>
      <%= render 'index', customers: @customers %>
    </div>
  </div>
</div>