<div class='container px-5 px-sm-0'>
  <div class='row px-1 py-4 ml-md-3'>
    <div class='col-md-3 py-3'>
      <h3 class="mb-4">登録情報</h3>
      <%= render 'info', customer: @customer %>
    </div>
    <div class='col-md-8 offset-md-1 p-3'>
      <h3>読んだ本一覧</h3>
      <table class="table table-hover text-center">
          <thead>
              <tr>
                  <td></td>
                  <td>タイトル</td>
                  <td>著者</td>
                  <td></td>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>