<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>登録情報</h2>
      <%= render 'info', customer: current_customer %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>読んだ本</h2>

    </div>
  </div>
</div>