<div style="text-align: center; margin: 30px">
  <h1 class="animate-float-up" style="font-size: 40px; margin: 30px">Page2Action とは？</h1>
  <u><p class="animate-float-up" style="font-size: 25px; margin-bottom: 20px">Page2Actionは、あなたの読書体験を一歩進化させます。</p></u>
  <u><p class="animate-float-up" style="font-size: 25px; margin-bottom: 20px">本の感想を綴り、魅力を共有し、新たなアクションを起こしましょう！</p></u>
  <div class="about-img animate-float-up" style="margin: 40px;">
    <%= image_tag "page2action_about.jpg", size: "430x230", class: "img-fluid" %>
  </div>
</div>