<div style="text-align: center; margin: 30px">
  <h1 style="font-size: 40px; margin: 30px">Page2Actionとは？</h1>
  <p style="font-size: 30px; margin-bottom: 30px">
    「Page2Action」は、あなたの読書体験を一歩進化させます。<br>
    本の魅力を共有し、感想を綴り、新たなアクションを起こしましょう！
  </p>
  
  <div class="about-img" style="margin: 40px;">
    <%= image_tag "page2action_about.jpg" , size: "500x300" %>
  </div>
</div>