<div class="container my-5 px-sm-1 d-flex align-items-center justify-content-center" style="height: 60vh">
  <div class="d-flex align-items-center justify-content-center"style="background-image: url(<%= asset_path "page2action_top.jpg" %>); background-size: cover; height: 350px; width:100%;">
    <div class="text-center vertical-center" style="background-color: rgba(220, 220, 220, 0.7);">
      <h1 style="font-size: 60px; margin: 30px">読書をアクションへ！</h1>
      <p>
        まずは体験！
      </p>
    </div>
  </div>
</div>
