<div class="container col-xl-8 col-lg-9 my-4 px-sm-1">
  <div class="px-1 ml-md-2">
    <h5 class="bg-light text-center ml-5 mb-4" style="width: 130px;">レビュー一覧</h5>
  </div>
  <div class="mx-auto col-10">

    <table class="table table-hover">
      <thead>
        <tr class="text-center">
          <th class="bg-light">レビューID</td>
          <th class="bg-light">ニックネーム</td>
          <th class="bg-light">メールアドレス</td>
          <th class="bg-light">ステータス</td>
        </tr>
        
        <tr class="text-center">
          <td></td>
          <td></td>
          <td><td>
          
        </tr>
      
    </thead>
  </table>

    <div>
     
    </div>

  </div>
</div>