<footer class="bg-dark text-white d-flex align-items-center justify-content-center" style="height: 80px;">
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3 text-center" style="font-size:20px;">
        Page2Action
      </div>
      <div class="col-3 text-right">
        <% unless admin_signed_in? || customer_signed_in? %>
          管理者の方は<%= link_to "こちら", new_admin_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</footer>